<h1>Hello ! Here we will see index page :)</h1>

<%  content_for :head do %>
<div id="header" class="header">
  
</div>
<% end %>

<% content_for :header do %>
<div id="footer" class="footer">
  
</div>
<%  end %>